article :first-child {
	font-size: 140%;
	font-style: italic;
}

article :last-child {
	text-decoration: underline;
	font-weight: bold;
}

ul li:nth-of-type(2) {
	color: deeppink;
}

ul li:nth-last-of-type(2) {
	color: blue;
	font-weight: bold;
}
